@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --clr-orange: hsl(35, 77%, 62%);
    --clr-red: hsl(5, 85%, 63%);
    --clr-white: hsl(36, 100%, 99%);
    --clr-gray-200: hsl(233, 8%, 79%);
    --clr-gray-400: hsl(236, 13%, 42%);
    --clr-gray-600: hsl(240, 100%, 5%); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 0.938rem;
}

img {
    display: block;
}

ul {
    list-style: none;
    
}

li {
    text-decoration: none;
}

a {
    color: var(--clr-gray-400);
}

p {
    color: var(--clr-gray-400);
    line-height: 1.5;
    font-size: 0.9rem;
}
header {
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-open {
    display: none;
}

.menu-close {
    display: none;
}

.nav-items {
    display: flex;
    column-gap: 2rem;
}

.grid-flow {
    padding-inline: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 2rem;
    row-gap: 2rem;
}

.image {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

}

.image img {
    width: 100%;
}

.side-bar {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: var(--clr-gray-600);
    padding: 2rem 1.5rem;
}

.side-bar h2 {
    color: var(--clr-orange);
    font-size: 2rem;
}

.side-bar h3 {
    color: var(--clr-white);
    margin-bottom: 1rem;
    cursor: pointer;
}

.side-bar h3:hover {
    color: var(--clr-orange);
}

.box-bar {
    padding-block: 1.5rem;
}

.box-bar:not(:last-child) {
    border-bottom: 1px solid var(--clr-gray-400);
}

.head-content {
    padding-right: 2rem;
}

.head-content h1 {
    font-size: 2.8rem;
    font-weight: 800;
}

.head-detail button {
    padding: 0.8rem 2rem;
    background-color: var(--clr-red);
    color: var(--clr-white);
    border: none;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-top: 2.5rem;
    cursor: pointer;
}

.head-detail button:hover {
    background-color: var(--clr-gray-600);
}

.box-content {
    display: flex;
    column-gap: 1.5rem;
    margin-block: 1.5rem;
}

.box-content img {
    width: 80px;
}

.box-content span {
    color: var(--clr-gray-200);
    font-size: 1.5rem;
    font-weight: 700;
}

.small-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.small-content h4 {
    font-weight: 800;
    cursor: pointer;
}

.small-content h4:hover {
    color: var(--clr-red);
}

@media screen and (max-width: 1200px) {
    header,
    .grid-flow {
        padding-inline: 20px;
    }
}

@media screen and (max-width: 900px) {
    header {
        padding: 30px 20px;
    }
    .grid-flow {
        padding-inline: 20px;
        display: block;
    }

    .menu-open {
        display: block;
    }

    .menu-close {
        z-index: 999;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background: rgba(1, 0, 0, 0.5);
        display: flex;
        align-items: center;
        display: none;
    }

    .nav-items {
        flex-direction: column;
        position: absolute;
        right: 0;
        padding-top: 150px;
        padding-left: 20px;
        background-color: var(--clr-white);
        width: 70%;
        height: 100%;
    }

    .nav-items li {
        line-height: 3;
        font-size: 1.5rem;
        color: var(--clr-gray-600);
    }

    .head-content {
        padding-right: 0;
        margin-top: 1rem;
    }

    .head-detail {
        margin-block: 1rem;
    }

    .head-detail button {
        margin-top: 1rem;
    }

    .side-bar {
        margin-block: 3rem;
    }

    .show {
        display: block;
    }

}